	.topright {font-weight: bolder;}
	.topright ul{padding-top:15px; float:right; padding-right:12px;list-style: none;}
	.topright ul li{float:left; padding-left:9px; padding-right:9px; background:url('../images/system-main-line.gif') no-repeat right;}
	.topright ul li:last-child{background:none;}
	.topright ul li a{font-size:13px; color:#e9f2f7;}
	.topright ul li a:hover{color:#fff;}
	.topright ul li span{margin-top:2px;float:left;padding-right:3px;}
	
	
	
	.nav{float:left;}
	.nav li{float:left;width:87px;height:88px; text-align:center;}
	.nav li a{display:block;width:87px;height:88px;-moz-transition: none; transition: background-color 0.3s linear; -moz-transition: background-color 0.3s linear; -webkit-transition: background-color 0.3s linear; -o-transition: background-color 0.3s linear; }
	.nav li a.selected{background:url('../images/system-main-nav-bg.png') no-repeat;}
	.nav li a:hover{display:block;background:#000;color:#fff;background: none repeat scroll 0% 0% rgb(43, 127, 181);}
	.nav li img{margin-top:5px;}
	.nav li a{display:block;}
	.nav a h2{font-size:13px;color:#d6e8f1;}
	.nav a:hover h2{color:#fff;}


	
	.user{height:30px;background:url(../images/system-main-top-user-bg.png) repeat-x;clear:both;margin-top:15px;float:right; margin-right:12px;border-radius:30px; white-space:nowrap;position:relative;}
	.user span{display:inline-block;padding-right:10px; background:url(../images/system-main-top-user.png) no-repeat 15px 10px; line-height:30px; font-size:14px;color:#b8ceda; padding-left:20px; padding-left:35px;}
	.user i{display:inline-block;margin-right:5px;font-style:normal;line-height:30px; font-size:14px;color:#b8ceda;}
	
	.site{height:30px;padding-top:52px;border-radius:30px; white-space:nowrap;}
	
	ul{display:block;margin:0;padding:0;list-style:none;text-decoration: none;}
	li{display:block;margin:0;padding:0;list-style: none;text-decoration: none;}
	a,a:focus{text-decoration:none;color:#000;outline:none;blr:expression(this.onFocus=this.blur());}
	a:hover{color:#00a4ac;text-decoration:none;}
	
	
